[submodule "jGui"]
	path = jGui
	url = https://github.com/ASTRAL-SMP/jGui

[submodule "src/main/resources/assets/replaymod/lang"]
	path = src/main/resources/assets/replaymod/lang
	url = https://github.com/ASTRAL-SMP/Translations
[submodule "ReplayStudio"]
	path = libs/ReplayStudio
	url = https://github.com/ASTRAL-SMP/ReplayStudio
