/*
/*/
!src/
!src/*/
!src/*/*
!src/*/*/*
!src/*/*/*/*
!src/*/*/*/*/*
!src/*/*/*/*/*/*
!src/*/*/*/*/*/*/*
!src/*/*/*/*/*/*/*/*
!.gitignore
!gradlew
!build.gradle
!/gradle/
!/LICENSE.txt
!/README.md
!/COPYING.lesser