# To apply changes in this file run: ./gradlew clean setupDecompWorkspace idea

# Minecraft
public net.minecraft.client.Minecraft field_71428_T # timer
public net.minecraft.client.Minecraft field_83002_am # debugCrashKeyPressTime
public net.minecraft.client.Minecraft field_71467_ac # rightClickDelayTimer
public net.minecraft.client.Minecraft field_71423_H # systemTime
public net.minecraft.client.Minecraft field_71429_W # leftClickCounter
public net.minecraft.client.Minecraft field_71445_n # isGamePaused
public net.minecraft.client.Minecraft field_152351_aB # scheduledTasks

public net.minecraft.client.Minecraft func_71386_F()L # getSystemTime
public net.minecraft.client.Minecraft func_71383_b(I)V # updateDebugProfilerName
public net.minecraft.client.Minecraft func_147116_af()V # clickMouse
public net.minecraft.client.Minecraft func_147121_ag()V # rightClickMouse
public net.minecraft.client.Minecraft func_147112_ai()V # middleClickMouse
public net.minecraft.client.Minecraft func_147115_a(Z)V # sendClickBlockToController

# Packets
public net.minecraft.network.play.server.S0FPacketSpawnMob field_149043_l # dataWatcher
public net.minecraft.network.play.server.S0CPacketSpawnPlayer field_148960_i # dataWatcher
public net.minecraft.network.play.server.S0CPacketSpawnPlayer field_179820_b # uuid
public net.minecraft.network.play.server.S38PacketPlayerListItem field_179964_d # profile
public net.minecraft.network.play.server.S1DPacketEntityEffect field_149434_a # entityId
public net.minecraft.network.play.server.S1CPacketEntityMetadata field_149379_a # entityId
public net.minecraft.network.play.server.S1CPacketEntityMetadata field_149378_b # list
public net.minecraft.network.play.server.S0BPacketAnimation field_148981_a # entityId
public net.minecraft.network.play.server.S02PacketChat field_179842_b # position

# GuiTextField
public net.minecraft.client.gui.GuiTextField field_146216_j # text

# Entity
public net.minecraft.entity.Entity field_70180_af # dataWatcher

# ResourcePackRepository
public net.minecraft.client.resources.ResourcePackRepository field_148534_e # dirServerResourcepacks

# EntityRenderer
public net.minecraft.client.renderer.EntityRenderer field_147711_ac # resourceManager
public net.minecraft.client.renderer.EntityRenderer field_147707_d # theShaderGroup
public net.minecraft.client.renderer.EntityRenderer field_175083_ad # useShader
public net.minecraft.client.renderer.EntityRenderer field_78530_s # farPlaneDistance

public net.minecraft.client.renderer.EntityRenderer func_78467_g(F)V # orientCamera
public net.minecraft.client.renderer.EntityRenderer func_78474_d(F)V # renderRainSnow
public net.minecraft.client.renderer.EntityRenderer func_78481_a(FZ)F # getFOVModifier
public net.minecraft.client.renderer.EntityRenderer func_78468_a(IF)V # setupFog
public net.minecraft.client.renderer.EntityRenderer func_78466_h(F)V # updateFogColor
public net.minecraft.client.renderer.EntityRenderer func_78472_g(F)V # updateLightmap

public net.minecraft.client.renderer.EntityRenderer func_78482_e(F)V # hurtCameraEffect
public net.minecraft.client.renderer.EntityRenderer func_78475_f(F)V # setupViewBobbing
public net.minecraft.client.renderer.EntityRenderer func_78476_b(FI)V # renderHand

# RenderGlobal
public net.minecraft.client.renderer.RenderGlobal field_174995_M # renderDispatcher
public net.minecraft.client.renderer.RenderGlobal field_147595_R # displayListEntitiesDirty
public net.minecraft.client.renderer.RenderGlobal field_175009_l # chunksToUpdate
public net.minecraft.client.renderer.RenderGlobal field_72755_R # renderInfos
public net.minecraft.client.renderer.RenderGlobal field_175009_l # chunksToUpdate
public net.minecraft.client.renderer.RenderGlobal field_72740_G # renderEntitiesStartupCounter
public net.minecraft.client.renderer.RenderGlobal func_174983_a(Lnet.minecraft.util.BlockPos;Lnet.minecraft.client.renderer.chunk.RenderChunk;)Z # isPositionInRenderChunk

public net.minecraft.client.renderer.RenderGlobal$ContainerLocalRenderInformation
public net.minecraft.client.renderer.RenderGlobal$ContainerLocalRenderInformation field_178553_a # renderChunk

# ChunkRenderDispatcher
public-f net.minecraft.client.renderer.chunk.ChunkRenderDispatcher field_178519_d # queueChunkUpdates
public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher field_178524_h # queueChunkUploads
public net.minecraft.client.renderer.chunk.ChunkRenderDispatcher field_178522_c # listThreadedWorkers

# TextureUtil
public net.minecraft.client.renderer.texture.TextureUtil func_147947_a(I[IIIIIZZZ)V # uploadTextureSub

# RenderManager
public net.minecraft.client.renderer.entity.RenderManager field_178636_l # skinMap

# ItemRenderer
public net.minecraft.client.renderer.ItemRenderer *
public net.minecraft.client.renderer.ItemRenderer *()
public net.minecraft.client.renderer.ItemRenderer$SwitchEnumAction
public net.minecraft.client.renderer.ItemRenderer$SwitchEnumAction *

# Example
# public net.minecraft.package.ClassName func_some_id(Ljava/lang/Class;IZS)V # methodName
